@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --lightblue: #1992d4;
    --yellow: #f0b429;
    --lightgray: #cbd5e1;
    --gray: #4a4d52;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
}

.top {
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid black;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

span {
    color: rgb(122, 122, 122);
    float: right;
    font-size: 30px;
    margin-top: -30px;
    margin-right: -30px;
}

span:hover {
    cursor: pointer;
    color: black;
}

form {
    background-color: white;
    margin: 30vh auto;
    padding: 50px;
    width: min-content;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.input {
    margin: 10px;
}

.booklist {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #cbd5e1;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
}

abbr {
    text-decoration: none;
}

button {
    width: auto;
    padding: 0 15px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--lightblue);
    color: white;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #0d5c86;
}

button:active {
    transform: scale(.95, .95);
}

.deletecardbtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.card > * {
    margin-bottom: 10px;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

.author {
    text-decoration: underline;
    text-transform: capitalize;
}

.read {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-style: italic;
    margin-bottom: 0;
}

.readbtn {
    margin-top: 10px;
}